@model CoffeeShop.Entity.AksesuarUrun

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <h1>Ürün Detay</h1>

    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                Ürün Adı:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UrunName)
            </dd>

            <dt>
                Ürün Türü:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.urunType)
            </dd>

            <dt>
                Ürün Açıklaması:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.urunAciklama)
            </dd>

            <dt>
                Ürün Fiyatı:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.urunFiyat)
            </dd>

            <dt>
                Ürün Stok Sayısı:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.urunStok)
            </dd>

            <dt>
                Ürün görseli:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resim)
            </dd>

            <dt>
                Ürününün Aksesuar Kategorisi:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AksesuarKategoriId)
            </dd>

        </dl>
    </div>
    
        <p>
            @Html.ActionLink("Düzenle", "Edit", new { id = Model.urunId }, new { @class = "btn btn-primary" })

            @Html.ActionLink("Kategori Listesine Geri Dön", "Index", null, new { @class = "btn btn-warning" })
        </p>
    
</div>